body{
    background-color: rgb(255, 240, 175);
}
header{
    text-align: center;
    padding-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
#color{
    padding-top: 15rem;
    margin: 25px;
    background-color: rgb(255, 247, 211);
    height: 60vh;
}
h1{
    margin: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    font-size: 220%;
    background-color: rgb(211, 190, 230);
    padding: 5px;
    font-family: serif;
}
button:hover{
    background-color: rgb(185, 161, 207);
}
input:hover{
    background-color: rgb(211, 190, 230);
}