body{
    background-color: rgb(211, 190, 230);
}
main{
    text-align: center;
}
h2{
    font-size: 200%;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}
#inicio{
    font-size: 200%;
}
@media (min-width: 426px) and (max-width: 1840px){
  #ideas {
    display: flex; flex-direction: row;
    justify-content: space-around;
  }
  #tamaño1 {
    width: 200%;
  }
  #tamaño2 {
    width: 200%;
  }
  #tamaño3 {
    width: 200%;
  }
  nav {
    width: auto;
  }
  h2 {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
  }
}
