body {
    background-color: rgb(255, 219, 219);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline rgb(255, 255, 255);
}
main {
    text-align: center;
    border-style: double;
    padding: 2%;
}
h2 {
    font-family: monospace;
    text-align: center;
}
#nota1 {
    position: relative;
    position: absolute;
    top: 10%;
    left: 19rem;
}
#nota2 {
    opacity: 0;
}
#nota3 {
    opacity: 0;
}
#inicio {
    display: flex; flex-direction: row; justify-content: end;
    font-size: 150%;
    padding: 2%;
    margin-left: 83%;
}

@media (min-width: 426px) and (max-width: 1840px){
   main {
    display: flex; flex-wrap: wrap;
    border-style: none;
  }
  #tamaño8 {
    width: 50%;
  }
  #tamaño9 {
    width: 50%;
  }
  #tamaño10 {
    width: 50%;
  }
  #tamaño11 {
    width: 50%;
  }
  #tamaño12 {
    width: 50%;
  }
  h1 {
    text-align: center;
  }
  #nota1 {
    position: relative;
    position: absolute;
    top: 12%;
    left: 80rem;
  }
  #nota2 {
    position: relative;
    position: absolute;
    top: 32rem;
    left: 7%;
    opacity: 5;
  }
  #nota3 {
    position: relative;
    position: absolute;
    top: 55rem;
    left: 48rem;
    opacity: 5;
  }
  h3 {
    background-color: aliceblue;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 5px;
  }
  #inicio {
    padding: 5px;
    margin-left: 95%;
  }
}